#footer{
    width: 100%;
    padding: var(--sections_default_padding) 0;
    padding-bottom: 30px;

    flex-flow: column;
    gap: 30px;
    
    text-align: center;
    text-transform: uppercase;

    background-color: var(--footer-color);
}

#creator{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
}

#creator>a{
    color: white;
}