<<<<<<< HEAD


@media only screen and (max-width: 850px) {

    /* Fazer dropdown menu no Header */
    #header {
        padding: 10px 70px;
        flex-flow: row wrap;
    }

    .h_contents {
        display: none;
    }

    .macbook .slogan {
        font-size: 50px;
    }

    .dropdown-content {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }



=======


@media only screen and (max-width: 850px) {

    /* Fazer dropdown menu no Header */
    #header {
        padding: 10px 70px;
        flex-flow: row wrap;
    }

    .h_contents {
        display: none;
    }

    .macbook .slogan {
        font-size: 50px;
    }

    .dropdown-content {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }



>>>>>>> 07bc293a7096ce4b2972d96bcac3177d5e80c215
}