#mainContent {

    width: 100%;
    padding: var(--sections_default_padding) 0;

    background-color: var(--main-color);

    /* gap: 50px; */
}

#mainContent>.section_title{
    margin-bottom: 30px;
}

#cardsContainer {
    width: 100%;

    gap: 50px;
}


/* CARD */
.card {
    width: 400px;

    gap: 20px;
    overflow: hidden;
    /* background-color: white; */

    transition: transform 0.3s ease;
}

.card:hover .card_img {
    transform: scale(1.2);
    /* Aplica o zoom na imagem */
}

.card:hover .card_header {
    color: orange;
}

.card_header {
    width: 100%;
    padding: 20px 40px;

    text-align: center;
    font-size: medium;

    border-radius: 20px;
    color: aliceblue;

    /* background-color: bisque; */
}


/* IMG CONTAINER */
.card_img_container {
    position: relative;
    overflow: hidden;

}

.card_img {
    width: 100%;
    height: 350px;

    border-radius: var(--card_border_radius);

    transition: transform 0.3s ease;
}

.card_img_title_container {

    position: absolute;
    left: 15px;
    bottom: 15px;

    gap: 5px;
    text-align: center;

    color: white;
}

.card_img_title_container>ion-icon {
    width: 20px;
    height: 20px;

    /* color: orange; */
}


/* DIVISOR */

.divisorTop {
    top: calc(var(--sections_default_padding) * -1);
}

.divisorBottom {
    bottom: calc(var(--sections_default_padding) * -1);
}